@import url(globalvaribles.css);

/* HEADER STYLES */

.link[aria-current='page']{
    font-weight: bold;
    color: var(--color-secundary-text);
}

.title-text{
    color: var(--color-primary-text);
}

.secundary-text{
    color: var(--color-secundary-text);
}

body{
    margin: 0;
    min-height: calc(100dvh - 1.5rem);
    background: linear-gradient(to top right,#101015,#454651,#5F606B);
}

.tmdb-logo{
    width: 4rem;
}

.header-link-container{
    margin: 1.5rem 2rem;
    display: flex;
    align-items: center;
    
}

.links-container{
    list-style-type: none;  
    padding-left: 10%;
    max-width: 50dvh;
    min-width: 25dvh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.link{
    text-decoration: none;
    color: var(--color-links);
}

@media (min-width: 1024px) {
    .header-link-container{
        margin: 1rem 4rem;
        display: flex;
        align-items: center;
    
    }
    .links-container{
        padding-left: 6rem;
        font-size: 1.3rem;
    }
}


/* CONTENT LIST (MOVIES,SERIES,ACTORS) STYLES */

.section-title{
    color: var(--color-primary-text);
    font-size: 4rem;
}

.input{
    width: 50%;
    height: 3rem;
}

.main-content-container{
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
    align-items: center;
}

.content-container{
    display: grid;
    text-align: center;
    margin: 2rem 0;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(200px,300px));
    justify-content: center;
    max-width: 1400px;
    width: 100%;
}

.content-container>*{
    border: 1px solid #FFFFFF;
}

.img-poster{
    width: 100%;
}

/* SPECIFYC INDIVIDUAL INFO PAGES */

.button-back{
    background-color: var(--color-primary-button);
    width: 7rem;
    border-radius: 15px;
    height: 3rem;
    margin: 2rem 0 2rem 2rem;
    text-align: center  ;
   
}

.button-back > a{
    color: #000000;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    text-decoration: none;
}

.button-url{
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
    margin-bottom: 2.1rem;
}

.button-url > a{
    color: #000000;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    text-decoration: none;
}

@media (min-width:1024px) {
    .button-back{
        margin: 2rem 0 0 2rem;
    }
}