.main-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100dvh - 8rem);
    text-align: center;
}

.home-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding-bottom: 4rem;
}

.img-home{
    display: none;
}

.main-title{
    color: var(--color-primary-text);
    font-size: 5rem;
}

.main-text{
    color: var(--color-secundary-text);
    font-size: 1.4rem;
    position: relative;
}

@media (min-width: 1024px) {
    .home-container{
        display: grid;
        grid-template-columns: repeat(2,2fr,1fr);
        grid-template-rows: repeat(2,1fr);
        max-height: 80dvh;
        max-width: 90%;
    }
    .main-title{
        font-size: 5rem;
        grid-area: 1rem;
        grid-column: 1;
        grid-row: 1;
    }

    .main-text{
        font-size: 2rem;
        grid-column: span 2;
    }

    .img-home{
        display: block;
        grid-column: 2;
        width: 100%;
    }
}