.individual-content-container{
    align-items: center;
    background-color: #00000098;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.individual-text-container{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.individual-poster{
    width: 70%;
}

.individual-genres{
    align-items: center;
    color: var(--color-secundary-text);
    display: flex;
}

.phrase-text{
    color: var(--color-secundary-text);
    font-size: 2rem;
}

/* only actor individual info page */
.known-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,200px));
    text-align: center;
}  
/* ---- */



@media (min-width: 1024px) {
    .individual-content-container{
        flex-direction: row;
        height: 80dvh;
        margin: 0 2rem;
    }

    .title-text{
        font-size: 3rem;
        margin: 0;
    }
    .individual-poster{
        margin: 0 2rem;
        width: 20%;
    }

    .vote-container{
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .known-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(100px,300px));
        max-height: 11rem;
        overflow-y: scroll;
        text-align: center;
    }  
    
    .actor-productions{
        width: 11rem;
    }

    .phrase-text{
        color: var(--color-secundary-text);
        font-size: 2rem;
        margin: 1rem 0;
    }
    
}